main:
  dataset: competition
  task: instance_segmentation

model_parameters:
  model_name: competition_mask_rcnn
  model_path: ../models/competition/instance_segmentation
  model_class: MaskRCNNModel
  model_class_parameters:
    num_classes: 3
    fpn: maskrcnn_resnet50_fpn
    pretrained: True
    pretrained_backbone: True
    trainable_backbone_layers: null
    mask_predictor_hidden_dim: 256
    min_size: 800
    max_size: 1333
    image_mean:
      - 0.5018395185470581
      - 0.5018395185470581
      - 0.5018395185470581
    image_std:
      - 0.04786895215511322
      - 0.04786895215511322
      - 0.04786895215511322
    box_detections_per_img: 550
    livecell_pretrained_model_path: ../models/livecell/instance_segmentation/livecell_mask_rcnn_epoch120.pt
  in_domain_pretrained_backbone_path: null

training_parameters:
  validation_type: stratified_fold
  fill_holes: False
  optimizer: SGD
  optimizer_parameters:
    lr: 0.002
    momentum: 0.9
    weight_decay: 0
  lr_scheduler: ReduceLROnPlateau
  lr_scheduler_parameters:
    factor: 0.5
    patience: 3
    min_lr: 0.000001
    verbose: True
  data_loader:
    training_batch_size: 4
    test_batch_size: 16
    num_workers: 4
  epochs: 250
  early_stopping_patience: 15
  deterministic_cudnn: False
  device: cuda
  random_state: 42

transform_parameters:
  horizontal_flip_probability: 0.5
  vertical_flip_probability: 0.5
  random_rotate_90_probability: 0.5
  shift_limit: 0.0125
  scale_limit: 0.05
  rotate_limit: 0
  shift_scale_rotate_probability: 0.25
  brightness_limit: 0.25
  contrast_limit: 0.25
  brightness_contrast_probability: 0.5

post_processing_parameters:
  nms_iou_thresholds:
    cort: 0.70
    shsy5y: 0.30
    astro: 0.20
  score_thresholds:
    cort: 0.70
    shsy5y: 0.30
    astro: 0.30
  label_thresholds:
    cort: 0.65
    shsy5y: 0.55
    astro: 0.50
  average_precision_thresholds:
    - 0.50
    - 0.55
    - 0.60
    - 0.65
    - 0.70
    - 0.75
    - 0.80
    - 0.85
    - 0.90
    - 0.95
  verbose: False
