model: MaskRCNNModel
model_parameters:
  num_classes: 1
  fpn: maskrcnn_resnet50_fpn
  pretrained: False
  pretrained_backbone: False
  trainable_backbone_layers: null
  mask_predictor_hidden_dim: 256

training_parameters:
  optimizer: SGD
  optimizer_parameters:
    lr: 0.001
    momentum: 0.9
    weight_decay: 0
  lr_scheduler: ReduceLROnPlateau
  lr_scheduler_parameters:
    factor: 0.5
    patience: 5
    min_lr: 0.00001
    verbose: True
  data_loader:
    training_batch_size: 8
    test_batch_size: 16
    num_workers: 4
  epochs: 100
  early_stopping_patience: 15
  deterministic_cudnn: False
  device: cuda
  random_state: 42

transform_parameters:
  horizontal_flip_probability: 0.5
  vertical_flip_probability: 0.5
  normalize:
    mean: [0.485, 0.456, 0.406]
    std: [0.229, 0.224, 0.225]
